# docker-compose.yml
version: '3.8'

services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    networks:
      - webnet
    depends_on:
      - db

  db:
    image: mysql:latest
    environment:
      MYSQL_USER: root
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: testdb
    ports:
      - "3306:3306"
    networks:
      - webnet

  adminer:
    image: adminer:latest
    ports:
      - "8080:8080"
    networks:
      - webnet
    depends_on:
      - db

networks:
  webnet:
    driver: bridge
